<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>日志列表</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <!--[if lt IE 9]>
    <script src="ie.js"></script>
    <![endif]-->
    <script src="vendor.js"></script>
    <script>
        var scoreweb = {};
        scoreweb.token = "{{ token }}";
        scoreweb.username = "{{ userName }}";
    </script>
</head>
<body>
	<div id="main"></div>
	<script src="user-logs.js"></script>
</body>
</html>